<nav class="nav">
  <ul>
    <li><%= link_to 'home', root_path %></li>
    <li><%= link_to 'about', about_path %></li>
    <li><%= link_to 'events', events_path %></li>
    <li><%= link_to 'books', books_path %></li>
    <li><%= link_to 'media', media_path %></li>
    <li><%= link_to 'art', art_path %></li>
    <li><%= link_to 'music', music_path %></li>
    <li><%= link_to 'store', store_path %></li>
  </ul>
</nav>